<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:replace="fragments/hellobar :: hellobar"></div>

    <body>

    <div class="container">
        <h1>All Items</h1>

        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Cost</th>
                <th scope="col">In Stock?</th>

                <th scope="col">edit|view|delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${allItems}">
                <td th:text="'id: ' + ${item.id}" />
                <td th:text="'Name: ' + ${item.name}" />
                <td th:text="'Amount: ' + ${item.amount}" />
                <td th:text="'In Stock: ' + ${item.instock}" />
                <td>edit|view|delete</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>