<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:replace="fragments/hellobar :: hellobar"></div>

    <body>
        <div class="container">
            <h1 style="font-family: 'Pacifico', cursive; font-size: 300%">Dashboard</h1>

            <div th:replace="fragments/tabs :: tabs" style="padding-after: 15px;"></div>
            <h1>Create an Item</h1>
            <form action="#" th:action="@{/item/create}" th:object="${itemPassed}" method="post">
                <p>Name <input type="text" th:field="*{name}"></p>
                <p>Amount <input type="text" th:field="*{amount}" /></p>
                <p>In Stock? <input type="text" th:field="*{instock}" /></p>
                <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
            </form>
        </div>
    </body>
    <div th:replace="fragments/footer :: footer"></div>

</html>