<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:replace="fragments/hellobar :: hellobar"></div>

    <body>
        <div class="container">
            <h1 style="font-family: 'Pacifico', cursive; font-size: 300%">Dashboard</h1>

            <div th:replace="fragments/tabs :: tabs" style="padding-after: 15px;"></div>
            <h1>All Requests</h1>

            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">ItemName</th>
                    <th scope="col">ItemCost</th>
                    <th scope="col">RequestorFirstName</th>
                    <th scope="col">RequestorLastName</th>
                    <th scope="col">DateRequested</th>
                    <th scope="col">DateFilled</th>
                    <th scope="col">FilledByFirstName</th>
                    <th scope="col">FilledByLastName</th>
                    <th scope="col">FilledStatus</th>
                    <th scope="col">edit|view|delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="request : ${allRequests}">
                    <td th:text="${request.id}" />
                    <td th:text="${request.itemName}" />
                    <td th:text="${request.itemCost}" />
                    <td th:text="${request.requestorFirstName}" />
                    <td th:text="${request.requestorLastName}" />
                    <td th:text="${request.dateRequested}" />
                    <td th:text="${request.dateFilled}" />
                    <td th:text="${request.filledByFirstName}" />
                    <td th:text="${request.filledByLastName}" />
                    <td th:text="${request.filledStatus}" />
                    <td>edit|view|delete</td>
                </tr>
                </tbody>
            </table>


        <div th:replace="fragments/footer :: footer"></div>
        </div>
    </body>

</html>