<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/hellobar :: hellobar"></div>

<body class="container">
<h1>Verify Requeste Approval</h1>

    <form action="#" th:action="@{'/fulfill/' + {prettyRequest.id}" th:object="${prettyRequest}" method="post">
        <p th:text="'Order ID: ' + ${prettyRequest.id}" />
        <p th:text="'Item: ' + ${prettyRequest.itemName}" />
        <p th:text="'Cost: ' + ${prettyRequest.itemCost}" />
        <p th:text="'Requestor: ' + ${prettyRequest.requestorFirstName} + ' ' + ${prettyRequest.requestorLastName}" />
        <p><input type="submit" value="Fulfill Request" /></p>
    </form>

<a href="person/dashboard">Return to Dashboard</a>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>