<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:fragment="tabs">
    <!--
    <label th:text="${#httpServletRequest.requestURI}"></label>
    -->

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a th:if="${#httpServletRequest.requestURI} == '/person/dashboard'" class="nav-link active" th:href="@{/person/dashboard}">Overview</a>
            <a th:unless="${#httpServletRequest.requestURI} == '/person/dashboard'" class="nav-link" th:href="@{/person/dashboard}">Overview</a>
        </li>
        <li class="nav-item">
            <a th:if="${#httpServletRequest.requestURI} == '/person/profile'" class="nav-link active" th:href="@{/person/profile}">My Profile</a>
            <a th:unless="${#httpServletRequest.requestURI} == '/person/profile'" class="nav-link" th:href="@{/person/profile}">My Profile</a>
        </li>
        <li class="nav-item">
            <a th:if="${#httpServletRequest.requestURI} == '/request/create'" class="nav-link active" th:href="@{/request/create}">New Request</a>
            <a th:unless="${#httpServletRequest.requestURI} == '/request/create'" class="nav-link" th:href="@{/request/create}">New Request</a>
        </li>
        <li class="nav-item">
            <a th:if="${#httpServletRequest.requestURI} == '/person/myRequests'" class="nav-link active" th:href="@{/person/myRequests}">Your Requests</a>
            <a th:unless="${#httpServletRequest.requestURI} == '/person/myRequests'" class="nav-link" th:href="@{/person/myRequests}">Your Requests</a>
        </li>
        <li class="nav-item">
            <a th:if="${#httpServletRequest.requestURI} == '/person/allRequests'" class="nav-link active" th:href="@{/person/allRequests}">All Requests</a>
            <a th:unless="${#httpServletRequest.requestURI} == '/person/allRequests'" class="nav-link" th:href="@{/person/allRequests}">All Requests</a>
        </li>
        <li class="nav-item">
            <a th:if="${#httpServletRequest.requestURI} == '/person/allOthers'" class="nav-link active" th:href="@{/person/allOthers}">Other Users</a>
            <a th:unless="${#httpServletRequest.requestURI} == '/person/allOthers'" class="nav-link" th:href="@{/person/allOthers}">Other Users</a>
        </li>
        <li class="nav-item">
            <a th:if="${#httpServletRequest.requestURI} == '/item/create'" class="nav-link active" th:href="@{/item/create}">Add New Snack Option</a>
            <a th:unless="${#httpServletRequest.requestURI} == '/item/create'" class="nav-link" th:href="@{/item/create}">Add New Snack Option</a>
        </li>
    </ul>
    <br/>
</div>

</html>


