<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <!--<div th:replace="fragments/header :: header"></div>-->
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:replace="fragments/hellobar :: hellobar"></div>

    <!--
    <img style="width:100%;" src="" alt="m&m"/>
    -->
    <div class="container">
        <h1>Welcome to CookieMonsterSoftware</h1>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">One-Stop-Shop for Snack Management <span class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">Who know Snack Management could be so easy? CookieMonsterSoftware brings you an effortless solution to track those tricky Snack Requests</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="https://s3.amazonaws.com/alumnest-profiles/hersheys.jpg" alt="Chocolate"/>
            </div>
        </div>
    </div>
    <!--
    <img style="width:100%;" src="https://s3.amazonaws.com/alumnest-profiles/hersheys.jpg" alt="Chocolate"/>
    -->

    <!-- START THE FEATURETTES -->
</html>