<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:replace="fragments/hellobar :: hellobar"></div>

    <body>
    <div class="container">

        <h1 style="font-family: 'Pacifico', cursive; font-size: 300%">Dashboard</h1>

        <div th:replace="fragments/tabs :: tabs" style="padding-after: 15px;"></div>


    </div>


    </body>
    <div th:replace="fragments/footer :: footer"></div>
</html>