<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:replace="fragments/hellobar :: hellobar"></div>

    <body>
    <div class="container">

        <h1 style="font-family: 'Pacifico', cursive; font-size: 300%">Dashboard</h1>

        <div th:replace="fragments/tabs :: tabs" style="padding-after: 15px;"></div>

        <div class="row">
            <div class="col-sm-6">
                <h3>Featured Users!</h3>
                <p><a th:href="@{/person/search}" >View All Others</a></p>
                <div th:each="other : ${otherPrettyUsers}">
                    <div class="row">
                        <div class="col-3">
                            <!-- https://s3.amazonaws.com/alumnest-profiles/profile-icon.png -->
                            <img style="width:100%;" src="https://s3.amazonaws.com/alumnest-profiles/profile-icon.png" alt="Smiley face">
                        </div>
                        <div class="col-9">
                            <h5 th:text="${other.firstName} + ' ' + ${other.lastName}" />
                            <p th:text="${other.profession}"></p>
                            <p><a th:href="@{'/person/about/' + ${other.id}}" >Learn More</a></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <h3>Your Open Requests</h3>
                <p><a th:href="@{'/request/create'}" >Make a Request</a></p>
                <!--
                <div th:each="userReq : ${usersRequests}">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${userReq.itemName}"></p>
                            <p th:text="${userReq.filledStatus}"></p>
                        </div>
                    </div>
                </div>
                -->

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Request Id</th>
                        <th scope="col">Item</th>
                        <th scope="col">Date Requested</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="req : ${usersRequests}">
                        <th scope="row" th:text="${req.id}"></th>
                        <td th:text="${req.itemName}"></td>
                        <td th:text="${req.dateRequested}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <h3>Recent Requests</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Request ID</th>
                        <th scope="col">Item</th>
                        <th scope="col">Requestor</th>
                        <th scope="col">Status</th>
                        <th scope="col">Filled By</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="req : ${allRequests}">
                        <th scope="row" th:text="${req.id}"></th>
                        <td th:text="${req.itemName}"></td>
                        <td th:text="${req.requestorFirstName} + ' ' + ${req.requestorLastName}"></td>
                        <td th:text="${req.filledStatus}"></td>
                        <td th:text="${req.filledByFirstName} + ' ' + ${req.filledByLastName}"></td>
                        <td th:switch="${req.filledStatus}">
                            <p th:case="Unfilled"><a th:href="@{'/request/delete/' + ${req.id}}" >Delete</a> | <a th:href="@{'/request/fulfill/' + ${req.id}}" >Mark Filled</a></p>
                            <p th:case="*"><a th:href="@{'/request/delete/' + ${req.id}}" >Delete</a> | Filled</p>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    </body>
    <div th:replace="fragments/footer :: footer"></div>
</html>