<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/hellobar :: hellobar"></div>

<body>
<div class="container">
    <h1>Before we start snacking...</h1>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/person/register}" th:object="${personPassed}" method="post">
                <p>What is your career title?<select class="form-control" th:field="*{professionId}">
                    <option th:each="profession : ${professionsList}" th:value="${profession.id}" th:text="${profession.name}"></option>
                </select></p>
                <p><input type="submit" class="btn btn-success" value="Get Snacking!" /> <input type="reset" class="btn btn-warning" value="Reset" /></p>
            </form>
        </div>
    </div>
</div>

</body>
<div th:replace="fragments/footer :: footer"></div>
</html>